<%- include('partials/header.ejs') %>
<%- include('partials/sidebar.ejs') %>
<section id="middle-body-part">
  <div class="container">
      <div class="grid-elm">
          <h2 class="work">My work history</h2>
      </div>
      <div class="grid-box fst">
          <div class="screen-shots">
              <h2>Screenshot of project</h2>
          </div>
          <div class="bottom-cnt">
              <div class="tb">
                  <div class="tb-head">
                      <h3>Project Name</h3>
                  </div>
                  <div class="grid-box-icons">
                      <div class="icon">
                          <a href="https://github.com/dashboard">
                              <img class="callocation2" src="./images/github.png" alt="github" style="width: 35px;">
                          </a>
                      </div>
                      <div class="icon">
                          <a href="https://github.com/dashboard">
                              <img class="callocation2" src="./images/link.png" alt="link">
                          </a>
                      </div>
                  </div>
              </div>
              <p class="sec-para-txt">Short description of project. Just acouple sentences will do. </p>
          </div>
      </div>
      <div class="grid-box scnd">
          <div class="screen-shots">
              <h2>Screenshot of project</h2>
          </div>
          <div class="bottom-cnt">
              <div class="tb">
                  <div class="tb-head">
                      <h3>Project Name</h3>
                  </div>
                  <div class="grid-box-icons">
                      <div class="icon">
                          <a href="https://github.com/dashboard">
                              <img class="callocation2" src="./images/github.png" alt="github" style="width: 35px;">
                          </a>
                      </div>
                      <div class="icon">
                          <a href="https://github.com/dashboard">
                              <img class="callocation2" src="./images/link.png" alt="link">
                          </a>
                      </div>
                  </div>
              </div>
              <p class="sec-para-txt">Short description of project. Just acouple sentences will do. </p>
          </div>
      </div>
      <div class="grid-box trd">
          <div class="screen-shots">
              <h2>Screenshot of project</h2>
          </div>
          <div class="bottom-cnt">
              <div class="tb">
                  <div class="tb-head">
                      <h3>Project Name</h3>
                  </div>
                  <div class="grid-box-icons">
                      <div class="icon">
                          <a href="https://github.com/dashboard">
                              <img class="callocation2" src="./images/github.png" alt="github" style="width: 35px;">
                          </a>
                      </div>
                      <div class="icon">
                          <a href="https://github.com/dashboard">
                              <img class="callocation2" src="./images/link.png" alt="link">
                          </a>
                      </div>
                  </div>
              </div>
              <p class="sec-para-txt">Short description of project. Just acouple sentences will do. </p>
          </div>
      </div>
      <div class="grid-box frth">
          <div class="screen-shots">
              <h2>Screenshot of project</h2>
          </div>
          <div class="bottom-cnt">
              <div class="tb">
                  <div class="tb-head">
                      <h3>Project Name</h3>
                  </div>
                  <div class="grid-box-icons">
                      <div class="icon">
                          <a href="https://github.com/dashboard">
                              <img class="callocation2" src="./images/github.png" alt="github" style="width: 35px;">
                          </a>
                      </div>
                      <div class="icon">
                          <a href="https://github.com/dashboard">
                              <img class="callocation2" src="./images/link.png" alt="link">
                          </a>
                      </div>
                  </div>
              </div>
              <p class="sec-para-txt">Short description of project. Just acouple sentences will do. </p>
          </div>
      </div>
      <div class="grid-box fth">
          <div class="screen-shots">
              <h2>Screenshot of project</h2>
          </div>
          <div class="bottom-cnt">
              <div class="tb">
                  <div class="tb-head">
                      <h3>Project Name</h3>
                  </div>
                  <div class="grid-box-icons">
                      <div class="icon">
                          <a href="https://github.com/dashboard">
                              <img class="callocation2" src="./images/github.png" alt="github" style="width: 35px;">
                          </a>
                      </div>
                      <div class="icon">
                          <a href="https://github.com/dashboard">
                              <img class="callocation2" src="./images/link.png" alt="link">
                          </a>
                      </div>
                  </div>
              </div>
              <p class="sec-para-txt">Short description of project. Just acouple sentences will do. </p>
          </div>
      </div>
      <div class="grid-box sxth">
          <div class="screen-shots">
              <h2>Screenshot of project</h2>
          </div>
          <div class="bottom-cnt">
              <div class="tb">
                  <div class="tb-head">
                      <h3>Project Name</h3>
                  </div>
                  <div class="grid-box-icons">
                      <div class="icon">
                          <a href="https://github.com/dashboard">
                              <img class="callocation2" src="./images/github.png" alt="github" style="width: 35px;">
                          </a>
                      </div>
                      <div class="icon">
                          <a href="https://github.com/dashboard">
                              <img class="callocation2" src="./images/link.png" alt="link">
                          </a>
                      </div>
                  </div>
              </div>
              <p class="sec-para-txt">Short description of project. Just acouple sentences will do. </p>
          </div>
      </div>
  </div>
</section>
<%- include('partials/footerTags.ejs') %>