
<%- include("partials/header.ejs") %>
<%- include("partials/sideBar.ejs") %>

  
  <img class="profile" src="images/myphoto.jpg" alt="my profile" style="text-align: center;">
  <h1 style="text-align: center;">Arnab Chaulya</h1>
  <p class="paragaraph">
    Quam purus justo enim purus, dolor enim, ut eu lectus nam eget nibh. Ante illum nullam leo, vivamus aliquam massa
    massainceptos fermentum porttitor, blandit vehicula, lorem in placerat ut aliquam at sociosqu. Vivamus duis
    ultricies
    aliquam placerat, tincidunt scelerisque imperdiet, egestas erat vel. Libero rerum. Donec ligula tristique, purus
    montes,
    feugiatid nunc in a nec. Duis odio, vitae sed etiam mi massa, laoreet amet purus amet rhoncus, eget sed, arcu
    urna.
    Maecenaswisi id, at donec enim. Proin nisl, pulvinar leo suspendisse, cum parturient non, congue leo et ut in,
    neque ut
    lacusauctor quam fermentum urna. Metus quis, mauris dictum aptent ultrices nulla viverra ornare, tempor elit enim
    leo
    donec,sed sed. Vivamus sapien facilisi, tempor arcu nulla justo sed et, eget suspendisse lacus sed nunc mattis
    lectus.
    Metusgravida.</p>
    <p class="paragaraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eligendi, dolorum, commodi fuga labore neque cupiditate sunt error quibusdam quia ab voluptatibus veritatis quo fugit iste consequatur explicabo voluptas libero eos, est alias modi maxime quasi. Accusamus omnis, temporibus porro sit consequatur dignissimos ex eligendi cumque laborum, blanditiis ut modi, iusto tempora quasi reprehenderit rem quisquam corrupti. Velit nemo non dolores asperiores in molestiae perspiciatis veniam cumque consequuntur ipsum sunt aperiam aliquid illum qui dolor vel deleniti corrupti cum, assumenda error eum veritatis. Corrupti officia rem doloribus ullam facilis quia molestias consequatur temporibus quis quisquam, harum officiis dolores ut qui ab minima consequuntur eligendi beatae sed. Doloremque quos vel dolorem, minus fugit, reiciendis quaerat saepe aut quas soluta excepturi nam eligendi deserunt dicta asperiores? Enim, commodi. Dolorem blanditiis veritatis, cum laboriosam a consequuntur voluptate reprehenderit aut harum nam nihil tempore illo, quasi minus quis hic. Perferendis ipsam accusantium, non eaque nostrum magnam quidem dolor repudiandae tenetur fuga deleniti, odio laborum nam possimus reprehenderit dolorum veniam corrupti nihil nisi. Voluptatem illo repudiandae nemo nobis. Repudiandae odit, delectus officia fugit deserunt numquam! Eligendi, laboriosam sit minima nisi exercitationem at deserunt ipsum neque error iusto veniam sunt nesciunt velit similique quis tempore ipsam corporis cupiditate temporibus quo qui aut excepturi hic. Vel, maiores saepe. Sequi amet fuga perspiciatis ea atque vero! Error sequi nostrum nesciunt debitis qui iusto atque eaque alias ea dolore culpa, reiciendis cumque asperiores id sit accusantium quaerat molestiae fugiat hic! Distinctio modi fuga similique ullam delectus quaerat recusandae voluptatibus neque soluta tenetur! Sequi et neque, quaerat quam voluptate nulla illo non tempora dolorem pariatur nobis, dolores similique! Dicta facere architecto consequuntur similique doloremque aperiam quam soluta laboriosam sapiente quisquam voluptatibus laudantium porro iure fugit maxime illum delectus ut nam fuga maiores ex, sed obcaecati! Eveniet laudantium, quia maiores hic perferendis soluta optio explicabo totam quod ab. Temporibus possimus iusto placeat voluptates, sunt accusantium iste quisquam architecto aliquam ipsam, sapiente quos modi laudantium id cumque numquam illum libero rem dolorum ducimus itaque quis! Voluptatum similique, necessitatibus harum aspernatur totam sed amet alias provident nobis omnis rem voluptates eius reprehenderit ut, atque quidem assumenda fugit corporis ipsam placeat commodi magnam qui velit porro. Repellendus alias, molestias sed quisquam praesentium fugiat consectetur voluptates quaerat. Doloremque vel recusandae sunt ipsum qui hic quo perferendis ex eligendi, necessitatibus enim soluta cumque quaerat temporibus quisquam molestiae nisi tenetur, totam dignissimos optio reiciendis voluptatibus corrupti! Ducimus.</p>
    <section id="footer">
    <footer class="container">
      <div class="contact-details">
          <h1 class="secondary-txt">Contact Me</h1>
          <p class="sec-low-txt">Please get in touch if you think our <br> work could be meutualy beneficial</p>
          <p class="sec-low-txt">NH6 Mombai Road <br> Panskua city, West Bengal 721139</p>
          <div class="contact">
              <img class="callocation3" src="./images/call_FILL0_wght400_GRAD0_opsz48.png" alt="call">
              <p class="sec-low-txt">+91 - 9382522438</p>
          </div>
          <div class="contact">
              <img class="callocation3" src="./images/mail_FILL0_wght400_GRAD0_opsz48.png" alt="email">
              <p class="sec-low-txt">arnabc.1616@gmail.com</p>
          </div>
          <div class="fb">
              <div class="footer-icons">
                  <a href="https://github.com/dashboard" target="_blank">
                      <img src="./images/github.png" alt="">
                  </a>
              </div>
              <div class="footer-icons">
                  <a href="https://www.linkedin.com/feed/" target="_blank">
                      <img src="./images/linkdein.png" alt="linkdein">
                  </a>
              </div>
              <div class="footer-icons">
                  <a href="https://www.instagram.com/arnab.1616/" target="_blank">
                      <img src="./images/instagram.png" alt="" width="55px">
                  </a>
              </div>
          </div>
      </div>
      <div class="image-section2">
          <img src="./images/WhatsApp Image 2023-08-11 at 00.01.39.jpg" alt="my-pic">
      </div>
  </footer>
</section>
<%- include("partials/footerTags.ejs") %>