<%- include("partials/header.ejs") %>
<%- include("partials/sideBar.ejs") %>
<div class="container" id="loginPortal">
            
    <h1 class="headerText">Upload to server </h1>

<form action="/submit" method="post" id="logindetail">
    <section class="userDetail">
        <div class="inputText name">
            <div class="fstN " style="margin-right: 10px;">
                <label for="firstName">First Name<span>*</span></label>
                <input type="text" name="fName" id="firstName" placeholder="Enter Name">
            </div>
            <div class="lstN" style="margin-left: 10px;">
                <label for="lastName">Last Name<span>*</span></label>
                <input type="text" name="lName" id="lastName" placeholder="Enter Title">
            </div>
        </div>
        <div class="name">
            <div class="inputText x">
                <label for="UserId ">User id<span>*</span></label>
                <input type="text" name="username" id="UserId" placeholder="Enter user id" required>
            </div>
            <div class="inputText y">
                <label for="phoneNumber">Phone number<span>*</span></label>
                <input type="number" name="phoneNumber" id="phoneNumber" placeholder="Enter phone number" required>
            </div>
        </div>
        <div class="name">
            <div class="inputText" style=" width: 40%;">
                <label for="email">Email<span>*</span></label>
                <input type="email" name="email" id="email" placeholder="Enter email " required>
            </div>
            <div class="upload" >
                <label for="uploadImage" style="text-align: center;">Upload image <span>*</span></label>
                <input type="file" name="file" id="uploadImage" accept=".png">
            </div>
        </div>
        <div class="inputText">
            <label for="bio">Description </label>
            <textarea name="bio" id="bio" cols="50" rows="3" placeholder="Description about project" required></textarea>
        </div>
        
        <div class="inputText mx-5">
            <div class="passwordS">
                <label for="password">Enter Password : <span>*</span></label>
                <input type="password" name="Password" id="password" autocomplete="off" placeholder="Enter password" required>
            </div>
            <div class="passwordS">
                <label for="cPassword">Confirm Password : <span>*</span></label>
                <input type="password" name="cPassword" id="cPassword" autocomplete="off" placeholder="Confirm password" required>
            </div>
        </div>
        <div class="res-log">
            <button type="reset" class="resetBtn">Reset</button>
            <button type="submit" class="loginBtn">Upload</button>
        </div>
    </section>
</form>
</div>
<%- include("partials/footerTags.ejs") %>